{% extends "base.html" %}
{% load static %}
{% block 'head' %}

<link rel="stylesheet" href="{% static 'empresarios/css/listar_empresas.css' %}">
<link rel="stylesheet" href="{% static 'usuarios/css/usuarios.css' %}">

{% endblock 'head' %}

{% block 'body' %}
    {% include "partials/barra_navegacao.html" %}
    <br><br>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <form action="{% url 'listar_empresas' %}" method="GET">
                    <label>Empresa</label>
                    <input type="text" name="empresa" class="form-control" placeholder="Busque por uma empresa em específico">
            </div>
            <div class="col-md">
                    <br>
                    <input type="submit" value="filtrar" class="btn btn-outline-primary">
                </form>
            </div>
        </div>

    </div>
    <br>
    <div class="container dark-color container_empresas">
        <table class="table">
            <thead >
              <tr class="cabecalho" style="background-color: transparent !important;">
                <th class="cabecalho" scope="col">Nome</th>
                <th class="cabecalho" scope="col">Percentual captado</th>
                <th class="cabecalho" scope="col">Status</th>
                <th class="cabecalho" scope="col">Ação</th>
              </tr>
            </thead>
            <tbody>
            {% for item in empresas_e_percentual %}
                <tr class="linha">
                    <td class="linha">{{item.empresa.nome}}</td>
                    <td class="linha">


                        {% if item.percentual_vendido >= 80 %}
                            
                            <div class="progress" style="height: 20px;">
                                <div class="progress-bar bg-success" 
                                    role="progressbar" 
                                    style="width: {{item.percentual_vendido}}%; color: black; font-weight: 600 " 
                                    aria-valuenow="{{item.percentual_vendido}}" 
                                    aria-valuemin="0" 
                                    aria-valuemax="100">
                                    {{item.percentual_vendido}}%
                                </div>
                            </div>
                            <td class="linha"> 
                                    <span class="badge bg-success"> {{item.empresa.status}} </span>
                            </td>
                        
                        {% elif item.empresa.status == "Em captação" %}

                            <div class="progress" style="height: 20px;">
                                <div class="progress-bar bg-primary" 
                                    role="progressbar" 
                                    style="width: {{item.percentual_vendido}}%; color: black; font-weight: 600 " 
                                    aria-valuenow="{{item.percentual_vendido}}" 
                                    aria-valuemin="0" 
                                    aria-valuemax="100">
                                    {{item.percentual_vendido}}%
                                </div>
                            </div>
                            <td class="linha"> 
                                <span class="badge bg-primary"> {{item.empresa.status}} </span>
                            </td>
                        
                        {% else %}

                            <div class="progress" style="height: 20px;">
                                <div class="progress-bar bg-danger" 
                                    role="progressbar" 
                                    style="width: {{item.percentual_vendido}}%; color: black; font-weight: 600 " 
                                    aria-valuenow="{{item.percentual_vendido}}" 
                                    aria-valuemin="0" 
                                    aria-valuemax="100">
                                    {{item.percentual_vendido}}%
                                </div>
                            </div>
                            <td class="linha"> 
                                <span class="badge bg-danger"> {{item.empresa.status}} </span>
                            </td>

                        {% endif %}

                    </td>
                    <td class="linha">
                        <a href="{% url 'empresa' item.empresa.id %}" class="btn btn-indigo-normal">
                            Abrir
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
          </table>
    </div>
{% endblock 'body' %}