{% extends "base.html" %}
{% load static %}
{% block 'head' %}

<link rel="stylesheet" href="{% static 'empresarios/css/listar_empresas.css' %}">
<link rel="stylesheet" href="{% static 'empresarios/css/empresa.css' %}">
<link rel="stylesheet" href="{% static 'usuarios/css/usuarios.css' %}">

{% endblock 'head' %}


{% block 'body' %}
    {% include "partials/barra_navegacao.html" %}
    <br><br>
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="row">
                    {% if messages %}
                        {% for message in messages %}
                            <section class="alert {{message.tags}}">
                                {{message}}
            
                            </section>
                        {% endfor %}
                    {% endif %}
                    <div class="col-md-3">
                        <img src="{{proposta.empresa.logo.url}}" class="foto-empresa" alt="">
                    </div>
                    <div class="col-md">
                        <h3>Assinar contrato</h3>
                    </div>
                    
                </div>    
        </div>
        <div style="margin-top: 40px; padding: 20px" class="contrato dark-color">
            <h3>Contrato de investimento</h3>
            <p>Ao assinar esse contrato você concorda com todas as cláusulas abaixo</p>
            
            <ol>
                <li><strong>Este é um projeto pessoal:</strong> 
                    Este contrato e as propostas aqui apresentadas fazem parte de um projeto acadêmico ou 
                    de desenvolvimento pessoal. Não haverá transações financeiras reais entre o investidor e a empresa. 
                    Este projeto é exclusivamente para fins de demonstração e aprendizado.
                </li>

                <li><strong>Sem validade de propostas:</strong> 
                    As propostas de investimento enviadas através deste sistema não têm validade legal ou financeira. 
                    Elas são apenas simulações e não resultam em transações reais. 
                    A aceitação ou rejeição de propostas não implica em qualquer compromisso financeiro real.
                </li>

                <li><strong>Assinatura e Reconhecimento Facial:</strong> 
                    Para que uma proposta seja registrada no banco de dados e enviada ao dono da empresa para aceitação ou rejeição, 
                    é necessário realizar uma assinatura digital. 
                    Este processo inclui um reconhecimento facial, 
                    onde você deverá fornecer duas imagens para garantir que são da mesma pessoa. 
                    A proposta só será considerada após a validação da assinatura.
                </li>

                <li><strong>Sem Compromisso Legal:</strong> 
                    Este projeto não representa uma oferta real de investimento. 
                    Nenhum compromisso financeiro ou legal é estabelecido através deste sistema.
                </li>
            </ol>

        </div>
        <form action="{% url 'assinar_contrato' proposta.id %}" enctype='multipart/form-data' method="POST" style="margin-top: 20px;"> {% csrf_token %}
            <label for="selfie"> Anexe uma selfie </label>
            <input type="file" name="selfie" class="form-control" style="width: 40%">
            <br>
            <label for="rg"> Anexe seu documento de identidade </label>
            <input type="file" name="rg" class="form-control" style="width: 40%">
            <br>
            <input type="submit" class="btn btn-indigo-normal" value="Assinar contrato">
        </form>
    </div>
    <br><br>
{% endblock 'body' %}